<div class="header_after">
    <ul class="category_list">
        <li>
            <a href="">
                <img src="/img/icons/meat.png" width="25" alt="">
                <span class="txt">Мясо</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/img/icons/fish.png" width="25" alt="">
                <span class="txt">Рыба</span>
            </a>
        </li>
        <li class="active">
            <a href="">
                <img src="/img/icons/poultry.png" width="25" alt="">
                <span class="txt">Птица</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/img/icons/salat.png" width="25" alt="">
                <span class="txt">Салаты</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/img/icons/soup.png" width="25" alt="">
                <span class="txt">Супы</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/img/icons/cherry.png" width="25" alt="">
                <span class="txt">Десерты</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/img/icons/tea.png" width="25" alt="">
                <span class="txt">Напитки</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/img/icons/cake.png" width="25" alt="">
                <span class="txt">Выпечка</span>
            </a>
        </li>
    </ul>
</div>