<div class="header">
    <div class="inner">

        <div class="search"><!-- home and search block -->
            <a href="/" class="home"></a>
            <input type="text" class="srch" onkeyup="srch.find(this)" placeholder="Поиск по названию блюда...">
            <span></span>
        </div>

        <a href="/new" class="add_recipe_btn">Добавить рецепт</a>
    </div>
</div>
