{% extends 'AppBundle:Main:base.html.twig' %}

{% block body %}

    <div class="all">

        {% include('AppBundle:Templates:header.html.twig') %}
        {% include('AppBundle:Templates:after.html.twig') %}

        <div class="main">

            <div class="left">

                <div class="ingr_nav_wrp"><!-- ingredient navigate wrapper -->

                    <ul id="jornal_view_tabs" class="ingrdt_group_nav_list">
                        <li class="active" onclick="return rcp.switchJornalTab(this, 'ingredients')">
                            <div class="inner">
                                <span>Ингредиенты</span>
                            </div>
                        </li>
                        <li onclick="return rcp.switchJornalTab(this, 'recipes')">
                            <div class="inner">
                                <span>Выбранные блюда</span>
                            </div>
                        </li>
                    </ul>

                    <ul id="tab_view_list" class="tab_list">
                        <li onclick="task.view(this, 'task_default')">
                            <div class="default"></div>
                        </li>
                        <li class="" onclick="task.view(this, 'task_list')">
                            <div class="simple"></div>
                        </li>
                    </ul>

                </div>

                <div id="jornal_views" class="ingr_tabs_wrp">

                    <div id="ingredients_block" class="ingredients">

                        <h3 id="ingr_head">У вас нет выбранных блюд, сначала необходимо <a href="/">добавить их в журнал.</a></h3>

                        <h3>Ингредиенты в выбранных блюдах</h3>

                        <div class="ingredients_list_wrp">
                            <div class="cover">
                                <div>
                                    <ul id="formingIngredients" class="ingredients_list"></ul>

                                    <div id="export_btn_wrp">
                                        <button class="export_to">Отправить ингредиенты по sms</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="recipes"><!-- recipes -->
                        <ul id="recipe_list"></ul>
                    </div>
                </div>

            </div>
            <div class="right">

                <ul class="menu_list">
                    <li>
                        <a href="/jornal">
                            <span class="txt">Журнал</span>
                            <span id="jornalCnt" class="jornal_cnt">12</span>
                        </a>
                        <div class="cover"></div>
                    </li>
                    <li>
                        <a href="/jornal">
                            <span class="txt">Удаленные рецепты</span>
                        </a>
                        <div class="cover"></div>
                    </li>
                </ul>

            </div>

        </div>

    </div>

{% endblock body %}
