{% extends 'AppBundle:Main:base.html.twig' %}

{% block body %}

    <div class="all">

        {% include('AppBundle:Templates:header.html.twig') %}

        <div class="main">

            <div class="left">

                {{ form_start(form) }}

                {{ form_row(form.title) }}

                {{ form_end(form) }}


            </div>
            <div class="right">

            </div>

        </div>

    </div>

{% endblock body %}
