{% extends 'AppBundle:Main:base.html.twig' %}

{% block body %}

    <div class="all">

        {% include('AppBundle:Templates:header.html.twig') %}

        <div class="main">

            <div class="left">

                <ul id="tasks" class="task_list"><!-- Default task list -->

                    {% if recipes is defined %}
                        {% for item in recipes %}
                            <li>
                                <div class="task">
                                    <div class="inner">
                                        <div class="tsk_img">
                                            <img src="/img/more.png">
                                        </div>
                                        <div class="nav_wrapper">
                                            <div class="task_remove">
                                                <div class="rmv_helper_cont">
                                                    <div class="task_rmv_txt">удалить</div>
                                                    <div class="hlp_triangle"></div>
                                                </div>
                                                <img src="/img/close.gif" onmouseover="task.hlp_show(this)" onmouseout="task.hlp_hide(this)" onclick="task.remove(this)">
                                            </div>

                                            <a href="/show/{{ item.id }}" class="task_link">{{ item.title }}</a>

                                        </div>
                                        <p class="task_description">{{ item.description }}</p>

                                        <div class="task_info_wrapper">
                                            <div class="task_info_inner">
                                                <a href=""><abbr class="today">сегодня</abbr></a><span class="point"></span>
                                                <a href="/edit/{{ item.id }}">Редактировать</a>
                                            </div>
                                            <div class="task_btns_wrapper">
                                                <div class="jornal_hlp">
                                                    <div class="task_jornal_txt">Добавить в журнал</div>
                                                    <div class="hlp_triangle"></div>
                                                </div>
                                                <div class="task_response-active" onmouseover="task.hlp_jornal(this)" onmouseout="task.hlp_hideJornal(this)" onclick="task.addJornal(this)">
                                                    <div class="cover-active"><img src="/img/checked.gif"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>

            </div>
            <div class="right">

            </div>

        </div>

    </div>

{% endblock body %}
