{% extends 'AppBundle:Main:base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" async src="{{ asset('js/lib.js?%s')      | format(random(998)) }}"></script>
{% endblock %}

{% block body %}

    <div class="all">

        {% include('AppBundle:Templates:header.html.twig') %}

        <div class="main">

            <div class="left">

                {% if recipe is defined %}

                    <div class="recipe">
                        <h1>{{ recipe.title }}</h1>

                        <p class="full_description">{{ recipe.description }}</p>

                    </div>

                {% endif %}

            </div>
            <div class="right">

            </div>

        </div>

    </div>

{% endblock body %}
