*{
    margin: 0;
    padding: 0;
}
li{list-style-type: none}

body{
    overflow-y: scroll;
    font-family: Roboto, sans-serif;
}
a{text-decoration: none;}

.none{display: none;}
.hidden{visibility: hidden;}
.fixed{position: fixed;}

::-webkit-input-placeholder {color: #888;}
::-moz-placeholder          {color: #888;}
:-moz-placeholder           {color: #888;}
:-ms-input-placeholder      {color: #888;}

input:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder          {color: transparent;}
input:focus:-moz-placeholder           {color: transparent;}
input:focus:-ms-input-placeholder      {color: transparent;}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../img/fonts/roboto/Robotothin.woff2') format('woff2'), url('../img/fonts/roboto/Robotothin.woff') format('woff'), url('../img/fonts/roboto/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../img/fonts/roboto/Robotothinitalic.woff2') format('woff2'), url('../img/fonts/roboto/Robotothinitalic.woff') format('woff'), url('../img/fonts/roboto/Robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('../img/fonts/roboto/Robotolight.woff2') format('woff2'), url('../img/fonts/roboto/Robotolight.woff') format('woff'), url('../img/fonts/roboto/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../img/fonts/roboto/Robotolightitalic.woff2') format('woff2'), url('../img/fonts/roboto/Robotolightitalic.woff') format('woff'), url('../img/fonts/roboto/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../img/fonts/roboto/Roboto.woff2') format('woff2'), url('../img/fonts/roboto/Roboto.woff') format('woff'), url('../img/fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../img/fonts/roboto/Robotoitalic.woff2') format('woff2'), url('../img/fonts/roboto/Robotoitalic.woff') format('woff'), url('../img/fonts/roboto/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../img/fonts/roboto/Robotomedium.woff2') format('woff2'), url('../img/fonts/roboto/Robotomedium.woff') format('woff'), url('../img/fonts/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../img/fonts/roboto/Robotomediumitalic.woff2') format('woff2'), url('../img/fonts/roboto/Robotomediumitalic.woff') format('woff'), url('../img/fonts/roboto/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../img/fonts/roboto/Robotobold.woff2') format('woff2'), url('../img/fonts/roboto/Robotobold.woff') format('woff'), url('../img/fonts/roboto/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../img/fonts/roboto/Robotobolditalic.woff2') format('woff2'), url('../img/fonts/roboto/Robotobolditalic.woff') format('woff'), url('../img/fonts/roboto/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('../img/fonts/roboto/Robotoblack.woff2') format('woff2'), url('../img/fonts/roboto/Robotoblack.woff') format('woff'), url('../img/fonts/roboto/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../img/fonts/roboto/Robotoblackitalic.woff2') format('woff2'), url('../img/fonts/roboto/Robotoblackitalic.woff') format('woff'), url('../img/fonts/roboto/Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/*=== all ===*/
.all{
    width: 100%;
    min-height: 100%;
}

/*=== header ===*/
.header{
    width: 100%;
    min-height: 80px;
    border-bottom: #E6E6E6 solid 1px;
}
.header > .inner{
    max-width: 880px;
    margin: 0 auto;
}
.header > .inner:after{
    content: '';
    display: block;
    clear: both;
}
.header > .login{
    width: 50px;
    height: 50px;
    background: #F0F0F0;
    position: absolute;
    right: 25px;
    top: 15px;
}
.header .logo{
    width: 120px;
    height: 60px;
    border: #000 dashed 1px;
    float: left;
    margin: 10px 15px 0 0;
}
.header .logo img{
    height: 100%;
}
.search{
    height: 35px;
    width: 50%;
    overflow: hidden;
    margin: 22px 0 0 0;
    float: left;
}
a.add_recipe_btn{
    width: 170px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    vertical-align: middle;
    background: #FFBD33;
    margin: 17px 0 0 0;
    color: #333;
    font-family: Roboto, sans-serif;
    border-bottom: #BE9F26 solid 1px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    display: block;
    float: right;

-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
a.add_recipe_btn:before{
    content: '+';
    width: 20px;
    display: block;
    position: absolute;
    font-size: 21px;
    font-family: Tahoma, sans-serif;
    margin: 1px 0 0 6px;
    font-weight: 600;
    color: #333;
}
a.add_recipe_btn:hover{background: #FFE779}

.search > a.home{
    width: 40px;
    height: 35px;
    display: block;
    float: left;
    background: #FFBD33 url("../img/home.png")no-repeat center center;
}
.search > input.srch{
    width: 80%;
    height: 31px;
    padding: 0 7px 0 25px;
    display: block;
    float: left;
    border: #FFBD33 solid 2px;
    outline: none;
}
.search > input.srch + span{
    width: 0;
    height: 35px;
    position: relative;
    left: 40px;
    display: block;
    background: #FFBD33;

-webkit-transition: width 0.2s ease-in-out;
-moz-transition: width 0.2s ease-in-out;
-ms-transition: width 0.2s ease-in-out;
-o-transition: width 0.2s ease-in-out;
transition: width 0.2s ease-in-out;
}
.search > input.srch + span:after{
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-left: 10px solid #FFBD33;
    border-bottom: 17px solid transparent;
}
.search > input.srch:focus + span{width: 12px}

.header_after{
    max-width: 880px;
    height: 20px;
    margin: 0 auto 10px;
    padding: 15px 0;
}
ul.category_list{

}
ul.category_list > li{
    height: 25px;
    float: left;
    line-height: 25px;
    margin: 0 30px 0 0;
}
ul.category_list > li a{
    color: #555;
    font-size: 15px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
ul.category_list > li span.txt{
    display: inline-block;
}
ul.category_list > li span.txt:after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: relative;
    background: #555;
    margin: -4px auto;

-webkit-transition: width 0.08s ease-in-out;
-moz-transition: width 0.08s ease-in-out;
-ms-transition: width 0.08s ease-in-out;
-o-transition: width 0.08s ease-in-out;
transition: width 0.08s ease-in-out;
}
ul.category_list > li span{

}
ul.category_list > li img{
    vertical-align: middle;
    opacity: 0.5;
}
ul.category_list > li:hover a{
    color: #000;
}
ul.category_list > li:hover img{
    opacity: 0.8;
}
ul.category_list > li:hover span.txt:after{width: 100%}

/*=== main ===*/
.main{
    max-width: 880px;
    min-height: 300px;
    padding: 0 0 50px 0;
    margin: 0 auto;
}
.main:after{
    content: '';
    display: block;
    clear: both;
}
.main > .left{
    float: left;
    width: 600px;
    min-height: 200px;
}
.main > .right{
    float: right;
    width: 250px;
    overflow: hidden;
    min-height: 300px;
    background: #FFFBEE;
    margin: 20px 0 0 0;
}
.main > .left > .recipe{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
    margin: 20px 0 0 0
}
.main > .left > .recipe > h1{
    font-size: 27px;
    color: #111;
}
/*=== navigate toolbar ===*/
.navigate_toolbar{
    width: 160px;
    height: 0;
    position: fixed;
    top: 155px;
    margin: 0 0 0 -190px;
}
ul.navigate_list{

}
ul.navigate_list > li{
    line-height: 38px;
}
ul.navigate_list > li > a{
    color: #777;
    width: 125px;
    height: 38px;
    vertical-align: middle;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    padding: 0 15px;
}
ul.navigate_list > li > span{
    width: 3px;
    height: 0;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    background: #FFBD33;

-webkit-transition: height 0.15s ease-in-out;
-moz-transition: height 0.15s ease-in-out;
-ms-transition: height 0.15s ease-in-out;
-o-transition: height 0.15s ease-in-out;
transition: height 0.15s ease-in-out;
}
ul.navigate_list > li:hover > span{
    height: 38px;
}
ul.navigate_list > li.active > span{
    height: 38px;
    color: #000;
}
ul.navigate_list > li.active > a{
    color: #000;
}

.recipe_more_info{

}
.recipe_more_info > a{
    color: #777;
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    margin: 0 10px 0 0;
}
.recipe_more_info > a:hover{text-decoration: underline}

.main > .left > .recipe h2, h3, h4{color: #444}

.main > .left > .recipe p{
    margin: 15px 0;
    font-size: 16px;
    color: #777;
}
.main > .left > .recipe > .full_description{
    margin: 7px 0 0 0;
    color: #777;
    font-size: 14px;
}
.main > .left > .recipe > .picture_wrp{
    margin: 20px 0;
    width: 100%;
}
.main > .left > .recipe > .picture_wrp img{
    width: 100%;
}
/*=== views recipe block ===*/
.art_info{
    width: 100%;
    #min-height: 100px;
    #background: #F7F7F7;
}
.art_info > .inner{
    position: relative;
    #margin: 0 15px;
}
.art_info > .inner:after{
    content: '';
    display: block;
    clear: both;
}
.art_vote_wrp{
    width: 180px;
    height: 25px;
    position: relative;
    line-height: 25px;
    float: left;
    border: #444 solid 1px;
}
.art_vote_wrp:before{
    content: '';
    display: block;
    width: 1px;
    height: 25px;
    background: #444;
    position: absolute;
    left: 50%;
}
.art_vote_wrp > .vote{
    float: left;
    width: 50%;
    color: #111;
    cursor: pointer;
    height: 25px;
}
.art_vote_wrp > .vote > span{
    width: 70px;
    display: inline-block;
    float: right;
    position: relative;
    vertical-align: middle;
    font-size: 13px;
    text-align: center;

-moz-user-select: -moz-none;
-o-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.art_vote_wrp > .vote:hover{
    background: #444;
    color: #F0F0F0;
}
.art_vote_wrp > .active{
    background: #444;
    color: #FFF;
}
.art_vote_wrp > .vote > .like, .art_vote_wrp > .vote > .dislike{
    width: 15px;
    height: 15px;
    margin: 5px 0 0 10px;
    position: absolute;
    background-image: url("../img/recipe_vote.png");
    background-repeat: no-repeat;
}
.art_vote_wrp > .vote > .like{background-position: right -16px}
.art_vote_wrp > .vote > .dislike{background-position: right 0}

.art_vote_wrp > .active > .like{background-position: left -16px}
.art_vote_wrp > .active > .dislike{background-position: left 0}

.art_vote_wrp > .vote:hover > .like{background-position: left -16px}
.art_vote_wrp > .vote:hover > .dislike{background-position: left 0}

/*=== recipe form ===*/
.recipe_form{
    width: 550px;
    margin: 20px 0 0 0;
}
.recipe_form > form > div{
    margin: 30px 0;
}
input.recipe_inpt{
    width: 95%;
    height: 40px;
    #background: #F0F0F0;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    border: #FFBD33 solid 2px;
    outline: none;
    padding: 0 2%;
}
textarea.recipe_area{
    width: 95%;
    height: 130px;
    resize: none;
    #background: #F0F0F0;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    border: #FFBD33 solid 2px;
    outline: none;
    padding: 7px 2%;
}
input.recipe_inpt:after{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: #000;
}
.recipe_form button.save_btn{
    width: 100%;
    height: 45px;
    font-size: 14px;
    line-height: 38px;
    background: #FFBD33;
    margin: 17px 0 0 0;
    color: #333;
    border: none;
    outline: none;
    font-family: Roboto, sans-serif;
    border-bottom: #BE9F26 solid 2px;
    font-weight: 500;
    cursor: pointer;

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.recipe_form button.save_btn:hover{background: #FEE679}

/*=== menu ===*/
.menu_list > li{
    width: 100%;
    height: 50px;
    position: relative;
    line-height: 50px;
}
.menu_list > li > .cover{
    width: 0;
    height: 50px;
    position: relative;
    background: #FFF9E3;
    top: 0;
    margin: -50px auto 0;

-webkit-transition: all 0.15s ease-in-out;
-moz-transition: all 0.15s ease-in-out;
-ms-transition: all 0.15s ease-in-out;
-o-transition: all 0.15s ease-in-out;
transition: all 0.15s ease-in-out;
}
.menu_list > li:hover > .cover{
    width: 100%;
}
.menu_list > li > a{
    width: 100%;
    #background: #CCC;
    display: block;
    color: #555;
    cursor: pointer;
    z-index: 100;
    position: relative;
    font-size: 14px;
    vertical-align: middle;
    padding: 0 10px;
    border-left: #FFBD33 solid 3px;
}
.menu_list > li > a > span{
    display: inline-block;
}

.menu_list > li > a > span.jornal_cnt{
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    float: right;
    margin: 15px 30px 0 0;
    background: #999;
    color: #FFF;
    display: none;
    padding: 0 7px;

-webkit-border-radius: 14px;
-moz-border-radius: 14px;
border-radius: 14px;
}
/*=== ingredients ===*/
ul.ingredients_list{
    margin: 10px 0 20px;
}
ul.ingredients_list > li{
    width: 100%;
    position: relative;
    overflow: hidden;
}
ul.ingredients_list > li:nth-child(2n+1){
    background: #F5F5F5;
}
ul.ingredients_list > li input[type=text]{
    width: 96%;
    height: 20px;
    padding: 10px 2%;
    border: none;
    outline: none;
    background: inherit;
}
ul.ingredients_list > li > .cover{
    width: 100%;
    height: auto;
}
ul.ingredients_list > li > .cover > span.item_ingredient{
    display: inline-block;
    margin: 10px 10px;
}
ul.ingredients_list > li > .cover-active{
    -webkit-transition: background 0.25s ease-in-out;
    -moz-transition: background 0.25s ease-in-out;
    -ms-transition: background 0.25s ease-in-out;
    -o-transition: background 0.25s ease-in-out;
    transition: background 0.25s ease-in-out;
}
.ingredients_add_wrp{
    padding: 20px 0 0 0;
}
.ingredients_add_wrp:after{
    content: '';
    display: block;
    clear: both;
}
.ingredients_add_wrp > h2{
    float: left;
}
a.add_ingredient_btn{
    float: right;
    color: #555;
    font-size: 14px;
    margin: 7px 0 0 0;
    text-decoration: underline;
}
a.add_ingredient_btn:hover{text-decoration: none}

/*=== ingredients nav list ===*/
.ingr_nav_wrp{
    margin: 20px 0 0 0;
    border-bottom: #E6E6E6 solid 1px;
}
.ingr_nav_wrp:after{
    content: '';
    display: block;
    clear: both;
}
ul.ingrdt_group_nav_list{
    float: left;
}
ul.ingrdt_group_nav_list:after{
    content: '';
    display: block;
    clear: both;
}
ul.ingrdt_group_nav_list > li{
    float: left;
}
ul.ingrdt_group_nav_list > li > .inner{
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    cursor: pointer;
    position: relative;
    border-left: transparent solid 1px;
    border-right: transparent solid 1px;
    border-top: transparent solid 1px;

-webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
}
ul.ingrdt_group_nav_list > li.active > .inner{
    border-left: #E6E6E6 solid 1px;
    border-right: #E6E6E6 solid 1px;
    border-top: #E6E6E6 solid 1px;
}
ul.ingrdt_group_nav_list > li.active > .inner:after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: #FFF;
}
ul.ingrdt_group_nav_list > li span{
    float: left;
    font-size: 14px;
    color: #777;
    vertical-align: middle;
    display: inline-block;
}
ul.ingrdt_group_nav_list > li:hover span{color: #111}

/*=== ingredients tabs content ===*/
.ingr_tabs_wrp{
    width: 100%;
    min-height: 300px;
    padding: 35px 0 0 0;
    clear: both;
}
.ingr_tabs_wrp > div{
    display: none;
    width: 100%;
    min-height: 350px;
}
.ingr_tabs_wrp > h3{display: none}

.ingr_tabs_wrp > h3 > a{
    color: inherit;
    text-decoration: underline;
}
.ingr_tabs_wrp > h3 > a:hover{text-decoration: none}

.ingredients_list_wrp{margin: 20px 0 0 0}

#ingredients_block{display: none}

ul.ingredients_list > li > .inner{
    height: 40px;
    line-height: 40px;
}
ul.ingredients_list > li > .inner > span{
    vertical-align: middle;
    font-size: 15px;
}
ul.ingredients_list > li > .inner > span.txt{
    display: inline-block;
    margin: 0 0 0 15px;
}
ul.ingredients_list > li > .inner > span.count{
    display: inline-block;
    float: right;
    margin: 0 35px 0 0;
}
/*=== export button ===*/
#export_btn_wrp{
    margin: 40px 0 0 0;
}
.export_to{
    width: 270px;
    height: 43px;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    text-indent: 10px;
    position: relative;
    background: #FFBD33 url('../img/envelop.png')no-repeat 8px center;
    border-bottom: #BE9F26 solid 2px;

-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.export_to:hover{background: #FFE779 url('../img/envelop.png')no-repeat 8px center}

/*=== comments ===*/
.vote_wrapper{
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.vote_wrapper > .like, .dislike{
    width: 50%;
    height: 25px;
    float: left;
    cursor: pointer;
}
.vote_count{
    color: #FFF;
    font-size: 12px;
    float: left;
    #width: 80px;
    overflow: hidden;
    margin: 5px 0 0 3px;
    background: inherit;
    font-weight: 600;
    opacity: 0.8;
}
.vote_count:hover{opacity: 0.9;}

.vote_count > span{
    position: relative;
    display: inline-block;
    background: inherit;
}
.vote_num_down, .vote_num_up, .vote_num_active{
    position: absolute;
    right: 0;
    background: inherit;
    display: inline;
    z-index: 10;

-webkit-transition: top 0.35s ease-in-out;
-moz-transition: top 0.35s ease-in-out;
-ms-transition: top 0.35s ease-in-out;
-o-transition: top 0.35s ease-in-out;
transition: top 0.35s ease-in-out;
}
.vote_num_down{top: -13px;}
.vote_num_up{top: 13px;}
.vote_num_active{top: 0;}
.dislike .vote_num_down, .vote_num_up{background: inherit;}

.vote_wrapper > .like > img, .dislike > img{
    float: left;
    opacity: 0.5;

-webkit-transition: opacity 0.1s ease-in-out;
-moz-transition: opacity 0.1s ease-in-out;
-ms-transition: opacity 0.1s ease-in-out;
-o-transition: opacity 0.1s ease-in-out;
transition: opacity 0.1s ease-in-out;
}
.vote_wrapper > .my_vote > img{
    opacity: 1 !important;
}
.vote_wrapper > .like > img{margin: 0 0 0 5px}
.vote_wrapper > .dislike > img{margin: 2px 0 0 5px}

.comments{
    width: 100%;
    margin: 20px 0;
    clear: both;
}
.comments_list{
    clear: both;
    margin: 10px 0 0 0;
}
.comments_list > li{position: relative}

.comments_list > li > .cover{
    height: 0;
    overflow: hidden;

-webkit-transition: height 0.2s ease-in-out;
-moz-transition: height 0.2s ease-in-out;
-ms-transition: height 0.2s ease-in-out;
-o-transition: height 0.2s ease-in-out;
transition: height 0.2s ease-in-out;
}
.comment_wrapper{
    width: 100%;
    padding: 10px 0 10px 0;
}
.comment_wrapper:after{
    content: '';
    display: block;
    clear: both;
}
.comment_bar{
    width: 540px;
    height: 25px;
    float: right;
}
.comment_bar > .name{
    color: #555;
    font-size: 15px;
    float: left;
    margin: 5px 0 0 8px;
    font-weight: 600;
}
.comment_bar > .name:hover{color: #222;}

.comment_bar > .created_at{
    float: right;
    font-size: 12px;
    color: #999;
    margin: 4px 0 0 0;
}
.comment_wrapper > .comment{
    width: 100%;
    #position: relative;
    float: left;
}
.comment > .owner{
    width: 60px;
    height: 60px;
    float: left;
    background: #CCC;
    margin: -21px 7px 0 0;
}
.comment > .owner img{
    width: 100%;
}
.comment > span.txt{
    width: 530px;
    font-size: 15px;
    color: #777;
    font-weight: 300;
    display: block;
    float: left;
    word-wrap: break-word;
}
.comment > span.txt > img.smile{
    vertical-align: -6px;
    margin: 0 1px;
}
.comment_vote_list{
    width: 0;
    right: -10px;
    top: 35px;
    z-index: 100;
    margin: -27px 0 0 0;
    position: absolute;
}
.comment_vote_list > div{
    width: 100px;
    height: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    left: 5px;
}
.comment_vote_list > div.like a{
    margin: 0 0 0 -2px;
    color: #BB6D9C;
}
.comment_vote_list > div.dislike a{
    color: #824E6D;
    margin: 0 0 0 3px;
}
.comment_vote_list > div a{
    display: inline;
    vertical-align: text-bottom;
    font-size: 12px;
    font-weight: 600;
}
.comment_vote_list > div a:hover{
    text-decoration: underline;
}
.comment_vote_list > div img{
    float: left;
    vertical-align: middle;
    opacity: 0.4;

-webkit-transition: opacity 0.1s ease-in-out;
-moz-transition: opacity 0.1s ease-in-out;
-ms-transition: opacity 0.1s ease-in-out;
-o-transition: opacity 0.1s ease-in-out;
transition: opacity 0.1s ease-in-out;
}
.comment_vote_list > div.my_vote img{
    opacity: 1;
}
.comment_vote_list .vote_count span{
    color: #888;
    font-weight: 600;
    font-size: 11px;
    background: #FFF;
}

.comment_editor_link{
    width: 150px;
    height: 26px;
    border: #444 solid 1px;
    text-align: center;
    float: right;
    line-height: 25px;
    font-size: 15px;
    cursor: pointer;
    color: #222;

-moz-user-select: -moz-none;
-o-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.comment_editor_link > span{
    vertical-align: middle;
}
.comment_editor_link:hover{
    background: #444;
    color: #F0F0F0;
}

.comment_editor{
    clear: both;
    display: none;
    min-height: 30px;
    padding: 10px 0 0;
}
.comment_editor > .inner{
    width: 100%;
    padding: 7px 0;
    background: #F5F5F5;
}
.comment_editor > .inner:after{
    content: '';
    display: block;
    clear: both;
}
.comment_editor > .inner .comment_field{
    width: 98%;
    margin: 0 auto;
}
.comment_editor > .inner .comment_field textarea{
    width: 97.5%;
    #margin: 0 10px;
    padding: 1%;
    outline: none;
    resize: vertical;
    background: #FFF;
    font-family: Roboto, sans-serif;
    border: #E5E5E5 solid 1px;
}
.comment_editor > .inner .save_wrp{
    width: 100%;
    clear: both;
    margin: 5px 0;
}

.comment_editor > .inner .save_wrp button.save_btn{
    width: 100px;
    height: 35px;
    cursor: pointer;
    #border: #555 solid 1px;
    border: none;
    font-family: Roboto, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 13px;
    background: #555;
    color: #F0F0F0;
    margin: 0 7px;
    outline: none;
}
.comment_editor > .inner .save_wrp button.save_btn:hover{
    background: #333;
}

/*=== more recipes ===*/
.more_recipes{
    margin: 30px 0 0 0;
}
.more_recipes > h2{
    color: #555;
}
ul.more_recipes_list{
    margin: 20px 0 0 0;
}
ul.more_recipes_list > li{
    width: 185px;
    height: 220px;
    float: left;
    position: relative;
    margin: 10px 7px;
}
ul.more_recipes_list > li > .inner{

}
ul.more_recipes_list > li > .inner .created_at{
    font-size: 12px;
    margin: 0 0 7px 0;
    color: #999;
    position: absolute;
    bottom: 0;
}
ul.more_recipes_list > li .picture_wrp{
    width: 100%;
    margin: 0 0 5px 0;
}
ul.more_recipes_list > li .picture_wrp img{
    width: 100%;
    opacity: 0.8;

-webkit-transition: opacity 0.15s ease-in-out;
-moz-transition: opacity 0.15s ease-in-out;
-ms-transition: opacity 0.15s ease-in-out;
-o-transition: opacity 0.15s ease-in-out;
transition: opacity 0.15s ease-in-out;
}
ul.more_recipes_list > li .picture_wrp img:hover{opacity: 1}

ul.more_recipes_list > li > .inner > a{
    height: 60px;
    font-size: 17px;
    color: #555;
    overflow: hidden;
    display: inline-block;
    font-weight: 600;
}
ul.more_recipes_list > li a:hover{
    color: #000;
}
/*=== footer ===*/
.footer{
    width: 880px;
    border-top: #E0E0E0 solid 1px;
    margin: 0 auto;
    min-height: 100px;
}
.my_widget_style{
    border: #CCC dashed 2px;
}

























